# Salesforce Personalization (Interactions API)
# Reemplazar con los valores del tenant/dataset
NEXT_PUBLIC_PERSONALIZATION_BEACON_URL=https://cdn.evgnet.com/beacon/ACCOUNT_ID/DATASET_ID/scripts/evergage.min.js
NEXT_PUBLIC_PERSONALIZATION_SITE_NAME=fashion-demo
NEXT_PUBLIC_PERSONALIZATION_COOKIE_DOMAIN=localhost

# Data Cloud Web SDK (sitemap tag)
# La URL la genera Data Cloud cuando configurás el sitemap en el tenant
NEXT_PUBLIC_DATACLOUD_SITEMAP_URL=https://cdn.c360a.salesforce.com/beacon/c360a/TENANT_NAME/scripts/c360a.min.js
NEXT_PUBLIC_DATACLOUD_TENANT=TENANT_NAME
